<html>
    <head>
        {% load staticfiles %}
        <title>cqrs</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'css/posts.css' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <script src="{% static 'js/posts.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col s12 m4 l6"> <!-- Note that "m4 l3" was added -->
                <form class="create_post" action="/posts/" method="post">
                  <h5>Create a post</h5>
                    {% csrf_token %}
                    {{ post_form }}
                    <button class="btn waves-effect waves-light" type="submit" name="action">Create
                        <i class="material-icons right">send</i>
                    </button>
                </form>

              </div>

              <div class="col s12 m8 l6">
                <ul class="collection with-header">
                    <li class="collection-header orange accent-2"><h5>Posts</h5></li>

                {% for post in posts %}
                    <li class="collection-item avatar">
                        <h5 class="title"><b>{{ post.title }}</b></h5>
                        <p>
                            {{ post.content }}</br>
                            {{ post.datetime }}
                        </p>
                        <a href="#modal1" class="secondary-content" data={{ post.id }}><i class="material-icons">edit</i></a>
                    </li>
                {% endfor %}

                </ul>

              </div>

            </div>
        </div>

      <!-- Modal Structure -->
      <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <form class="update_post" action="/posts/edit/" method="post">
              <h5>Update post</h5>
                {% csrf_token %}
                {{ post_form }}
                <input id="post_id" type="hidden"/>
                <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action">Update
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>

      </div>
    </body>
</html>
